.container {
  text-align: center;
  color: #445566;
}

.header {
  font-size: 3rem;
}

.quiz-boxes {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
  padding: 0 1rem;
}

.quiz-boxes a:visited {
  color: white;
}

.quiz-boxes-title {
  background-color: rgba(152, 56, 50, 0.9);
  padding: 0.5rem 1rem;
}

.quiz-boxes-title:hover {
  background-color: rgba(152, 56, 50, 1);
  /* Grow slightly */
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.quiz-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 30.3%;
  margin: 1rem 1.5%;
  color: white;
  text-decoration: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 900px) {
  .quiz-box {
    width: 48%;
    margin: 0.5rem 1%;
  }
}

@media screen and (max-width: 600px) {
  .quiz-box {
    width: 100%;
  }
}
