.container {
  text-align: center;
  color: #445566;
}

.header {
  font-size: 3rem;
}

.quiz-boxes {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.quiz-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 30%;
  color: white;
  text-decoration: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
}

.quiz-boxes a:visited {
  color: white;
}

@media screen and (max-width: 900px) {
  .quiz-box {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .quiz-box {
    width: 100%;
  }
}
