.matching-question-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.question-option {
  background-color: #ccc;
  padding: 1rem;
  margin: 1rem;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
