.matching-question {
  margin-top: 5rem;
}

.matching-question-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.question-option {
  background-color: #c8ac99;
  padding: 5px;
  margin: 5px;
  width: 206px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  border-color: hsl(24, 30%, 50%);
  border-radius: 6px;
  border-width: 3px;
  border-style: solid;
  box-sizing: border-box;
}

.question-option__image {
  width: 50px;
  height: 50px;
  position: relative;
}

.question-option__text {
  margin: 0px;
  padding-left: 5px;
  font-size: 1.1rem;
}

.matching-question__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: hsl(24, 30%, 90%);
  padding: 16px;
  border-radius: 16px;
}

.matching-question__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  min-height: 200px;
  padding: 0.5rem;
}

.matching-question__box__content {
  background-color: rgba(152, 56, 50, 1);
  width: 100%;
  min-width: 200px;
  min-height: 200px;
  border-radius: 8px;
}
