.matching-question-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.question-option {
  background-color: #f0ba09;
  padding: 0.5rem;
  margin: 0.5rem;
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.question-option p {
  margin: 5px 0px 2px 0px;
}

.matching-question__container {
  display: flex;
}

.matching-question__box {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  background-color: bisque;
  align-items: center;
  min-width: 120px;
  padding: 0.5rem;
}
