.mc-question__options {
  list-style: none;
  padding-left: 0px;
}

.mc-question__option-label {
  font-size: 1.1rem;
}

.mc-question__options li {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mc-question__option-image {
  height: 100px;
  width: 100px;
}
