.quiz-area {
  margin-top: 4rem;
}

.quiz-image-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
}

.quiz-title {
  position: absolute;
  left: 3rem;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 0;
  font-size: 3rem;
  margin-top: 0px;
  font-weight: 600;
}

.quiz-label-language {
  position: absolute;
  left: 3rem;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 0;
  font-size: 2rem;
  margin-top: 0px;
  font-weight: 400;
  font-style: italic;
}

.quiz-label-language--djnj {
  color: hsl(4, 50%, 80%);
}

.quiz-summary {
  text-align: center;
  color: #983832;
  font-weight: bold;
}

.question-wrapper {
  padding: 3rem 3rem;
}

.question-wrapper--odd {
  background-color: hsl(4, 20%, 97%);
}
